.idea
target
classes
.slcache
testgrails.iml
testgrails-grailsPlugins.iml
.classpath
.project
grailsw
grailsw.bat
testgrails.iml
testgrails-grailsPlugins.iml
logs/

login-inplacePlugin.iml
models-inplacePlugin.iml
search-inplacePlugin.iml
userCrud-inplacePlugin.iml

plugins/models/.project
plugins/models/.classpath
plugins/models/target

plugins/login/.project
plugins/login/.classpath
plugins/login/target

plugins/search/.project
plugins/search/.classpath
plugins/search/target

plugins/user-crud/.project
plugins/user-crud/.classpath
plugins/user-crud/target
