.idea
target
classes
.slcache
testgrails.iml
testgrails-grailsPlugins.iml
.classpath
.project
grailsw
grailsw.bat
testgrails.iml
testgrails-grailsPlugins.iml
logs/
login-inplacePlugin.iml
models-inplacePlugin.iml
plugins/models/.project
plugins/models/.classpath
plugins/login/.classpath
plugins/login/.classpath
