.idea
target
classes
.slcache
testgrails.iml
testgrails-grailsPlugins.iml
.classpath
.project
grailsw
grailsw.bat
testgrails.iml
testgrails-grailsPlugins.iml
logs/

login-inplacePlugin.iml
models-inplacePlugin.iml
search-inplacePlugin.iml
userCrud-inplacePlugin.iml
numberFormatter-inplacePlugin.iml
pokemonCrud-inplacePlugin.iml
locale-inplacePlugin.iml

plugins/models/.project
plugins/models/.classpath
plugins/models/target

plugins/login/.project
plugins/login/.classpath
plugins/login/target

plugins/search/.project
plugins/search/.classpath
plugins/search/target

plugins/user-crud/.project
plugins/user-crud/.classpath
plugins/user-crud/target

plugins/number-formatter/.project
plugins/number-formatter/.classpath
plugins/number-formatter/target

plugins/pokemon-crud/.project
plugins/pokemon-crud/.classpath
plugins/pokemon-crud/target

plugins/locale/.project
plugins/locale/.classpath
plugins/locale/target
